game/project/proj.android/obj/
game/project/proj.win32/Debug_v140_xp/
game/project/proj.win32/Game.VC.db
game/project/proj.win32/Game.VC.VC.opendb
*.sdf
*.opensdf
game/project/proj.android/libs/armeabi-v7a/libSDL2.so
game/project/proj.android/libs/armeabi-v7a/libmain.so
*.ipch
game/project/proj.cmake/build/
game/project/proj.win32/Debug_v140/
game/project/proj.ios/Game_ios.xcodeproj/xcuserdata
game/project/proj.ios/Game_ios.xcodeproj/project.xcworkspace/xcuserdata
game/project/proj.emscripten/build/
game/project/proj.emscripten/build_release/
game/project/proj.emscripten/data.js
game/project/proj.cmake/build_emsc/
game/project/proj.cmake/build_emsc_release/
game/project/proj.android/.gradle/
game/project/proj.android/build/
